.Signup_container {
    margin: 50px auto;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.195);
        
}

.Signup_container Button{
    background-color: #010801;
    border: none;
    border-radius: 4px;
    
}
